body {
  color: black;
  font-family: Roboto, sans-serif;
}

.btn--primary {
  letter-spacing: 1px;
  background-color: #015c09;
  color: #f9f9f9;
  border: none;
  outline: 0;
  padding: 10px 40px;
  transform: scale(1);
}

.btn--primary:focus,
.btn--primary:hover {
  transform: scale(0.985);
  transition: 0.25s;
}

.btn-tabs {
  background: #8ec6f0;
  color: #33201e;
}

.form__input {
  letter-spacing: 0.15px;
  border: none;
  outline: 0;
  padding: 0.5rem 1rem;
  background-color: #81c1f1;
  transition: 0.25s ease;
  border-radius: 8px;
}

.alert {
  background-color: #a3a379;
}
